<% provide(:title, "Log in") %>
<div class="container">
  <div class="jumbotron" style="margin-left:150px;margin-right:150px">
    <h2 style="text-align:center;">Log in</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control my-form-field' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control my-form-field' %>
          <div class = "sign-btn-wrapper">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
        <br/>
        <h5>New user? &nbsp;&nbsp;<%= link_to "Sign up now!", signup_path %></h5xH>
      </div>
    </div>
  </div>
</div>
