<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_field :context, id: :comment_context %>
  </div>


  <div class="field" style="display:none;">
    <%= form.label :card_id %>
    <%= form.number_field :card_id, id: :comment_card_id, value: @card.id, class: 'form-control my-form-field' %>
  </div>

  <div class="field">
    <%= form.label :to_user_id, "Comment to:" %><br />
    <%= form.collection_select :to_user_id, @card.list.board.users.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
