<% provide(:title, @user.name) %>

<div class="container">
  <div class="jumbotron">
    <h1>My Boards</h1></br>

    <div class="row">
      <% @user.boards.each do |board| %>



          <div class="block task task-high">
      				<div class="row with-padding">
      					<div class="col-sm-8">
      							<%= link_to board.name, "/boards/#{board.id}", class: "mytitle"%>
                  </br>
            				<div style = "margin-top:15px;margin-bottom:5px;font-size:20px;">
                      Leader:<%= User.find(board.leader_id).name %>
                    </div>
                  </br>
      							<span class = "task-description" >
                    <% if board.description.nil? %>
                    This Board has no description.
                    <%else %>
                     <%=board.description%>
                     <%end%>
                    </span>
      					</div>
      					<div class="col-sm-4">
                </br></br>
      						<div class="task-info">
      							<span><%= board.created_at%></span>
      							<span>3 days | <span class="label label-danger">12%</span></span>
      						</div>
      					</div>
      				</div>
      			</div>

      <% end %>


      <div class="block task task-high">
          <a href="/boards/new">
          <div class = "row">

                  <div class="img-circle add-but"></div>

          </div>
          </a>
      </div>

      </div>


    </div>





  </div>




</div>

<!--
<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <font color="white">
          Welcome <%= @user.name %>!
        </font>
      </h1>
    </section>
  </aside>
</div>
-->
