<% provide(:title, @user.name) %>

<div class="container">
  <div class="jumbotron">
    <h2>My Boards</h2>

    <div class="row">
      <% @user.boards.each do |board| %>
      <a href="/boards/<%= board.id%>">
        <div class="col-md-3 board">
          <div class="board-name"><%= board.name %></div>
          <div class="board-leader">leader:<%= User.find(board.leader_id).name %></div>
        </div>
      </a>
      <% end %>
      <a href="/boards/new">
        <div class="col-md-3 board">
          <div class="board-name">Create a new board</div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
