<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @project.string %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @project.integer %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
