<% provide(:title, @board.name) %>

<div id="board-id" data-board-id="<%= @board.id %>"></div>
<div class="side-menu col-md-2">
  <div class = "panel-heading blue">
    <div class="menu-title">Menu</div>
  </div>
  </br>
  <div class="menu-content" style="padding:20px;">
    <p>
      <strong>Name:</strong>
      <%= @board.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @board.description %>
    </p>

    <p>
      <strong>Leader:</strong>
      <%= User.find(@board.leader_id).name %>
    </p>
    <p>
      <strong>Members:</strong><br/>
      <% @board.users.each do |user| %>
        <span>name:</span><%= user.name %><br/><span>email:</span><%= user.email %>
        <br/>
      <% end %>
    </p>
    <%= form_tag("/search/user", method: "get", "data-remote": "true", "id": "search-form") do %>
      <%= label_tag(:user_name, "Search user to enroll in board:") %>
      <%= text_field_tag :user_name, "",class: "form-control"  %>
      <%= number_field_tag(:board_id,@board.id, "style": "display:none;") %>
      <%= submit_tag "Search", "id": "search-submit", "style": "display:none" %>
    <% end %>
    <div id="users-container">
    </div>

    <%= link_to 'New List', new_list_path(board_id:@board.id) %>
    <br>
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', root_path %>
    <br>
    <%= link_to 'Stats', board_stats_path(id:@board.id) %>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <% @board.lists.each do |list| %>
    <div class="list-container " >
      <div class = "panel-heading lightgrey">
        <div class="list-name"><span><%= list.name %></span></div>
      </div>
      <div class="card-container" list_id="<%= list.id%>">
        <% list.cards.order(:card_order).each do |card| %>
        <div class="card" card_id="<%= card.id%>">
          <span class="hidden-id hide">ID: <%=card.id%></span>
          <% card.tags.each do |tag| %>
            <%= tag.name %>
          <%end%><br/>
          <span>Content:</span>
          <%= link_to card.content, card_path(card)%><br/>
          <%if ['doing','done'].include? list.name %>
            <span>Start at:</span><%= card.startdate %><br/>
          <%end%>
          <span>Deadline:</span><%= card.deadline %><br/>
          Members:
          <%= link_to 'Assign Member',searchresult_path(card_id:card.id) %></br>

          <% card.users.each do |user| %>
            <%= user.name%>
          <% end %><br/>
        </div>
        <% end %>
      </div>
      <%= link_to 'New Card', new_card_path(list_id:list.id), class: "new-card"%>
    </div>
  <% end %>
  <!-- card edit modal
  <button id="modal-button" class="hide" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary hide">Submit</button>
              </div>
          </div>
      </div>
  </div>-->

  <button id="modal-button" class="hide" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="head-icon"></span>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
              </div>
              <div class="modal-bod">
                <div class="tags-container">
                  <span class="field">Tags:</span><div class="gap"></div>
                  <span class="tag" style="background-color: #5555dd;">test</span>
                  <span class="tag" style="background-color: #55dd55;">database</span>
                  <span class="tag" style="background-color: #dd5555;">routes</span>
                  <button id="show-tags-modal" type="button" class="btn btn-grey btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add
                  </button>
                </div>
                <div class="card-member-container">
                  <span class="field">Members:</span><div class="gap"></div>
                  <div class="card-member"><span class="member-initials">Y</span></div>
                  <div class="card-member"><span class="member-initials">S</span></div>
                  <div class="card-member"><span class="member-initials">P</span></div>
                  <button type="button" class="btn btn-grey btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add
                  </button>
                </div>
                <div class="description-container">
                  <span class="field">Description</span>
                  <button type="button"  id="edit-description">edit description</button>
                  <div class="description">this is the description</div>
                  <div class="edit-description-window hide">
                    <textarea class="description-input-area" placeholder="put your description here" style="overflow: hidden; word-wrap: break-word; resize: none; height: 108px;"></textarea>
                    <div class="edit-controls">
                      <button type="button" class="btn btn-success" id="save-edit-description">save</button>
                      <button type="button" class="btn btn-default" id="cancel-edit-description">cancel</button>
                    </div>
                  </div>
                </div>
                <div class="comments-container">
                  <span class="field">Comments</span>
                  <div class="comments-list">
                    <div class="comment-container">
                      <div class="headshot"><span class="member-initials">Y</span></div>
                      <span class="username">Jinli Yu</span>
                      <span class="sent-date">posted on 2017-10-10</span>
                      <div class="comment-content">
                        <span class="left"></span>
                        <span class="at-user">@spencer</span>
                        <span class="comment">let's go out for fun!</span>

                      </div>
                    </div>
                  </div>
                  <div class="new-comments"></div>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary hide">Submit</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>
  <div class="my-modal">
    <div class="modal-dialog edit-tag-modal" id="tag-modal-dialog" style="display:none;">
      <div class="modal-content">
        <div class="modal-header">
                  <button type="button" class="close close-tag-modal">&times;</button>
                  <h4 class="modal-title">Edit Tags</h4>
        </div>
            <div class="modal-body">
              <form data-remote="true" id="search-tag-form" action="/search/user" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                    <input type="text" placeholder="search tags here" name="tag_name" id="tag_name" value="" class="form-control">
                    <input type="number" name="board_id" id="tag-board_id" value="7" style="display:none;">
                    <input type="submit" name="commit" value="Search" id="tag-search-submit" style="display:none" data-disable-with="Search">
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-tag-modal">Close</button>
                <button type="button" class="btn btn-primary hide">Submit</button>
            </div>
        </div>
    </div>
  </div>
<div id="tmp-card-container" class="hide"></div>




</div>
<div class="terminal">

</div>

<script>
$(".side-menu").click(function(){
  $(".side-menu").hide();
});



(function($) {
    $.extend_if_has = function(desc, source, array) {
        for (var i=array.length;i--;) {
            if (typeof source[array[i]] != 'undefined') {
                desc[array[i]] = source[array[i]];
            }
        }
        return desc;
    };
    $.fn.dterm = function(interpeter, options) {
        var defaults = Object.keys($.terminal.defaults);
        var op = $.extend_if_has({}, options, defaults);

        var term = this.append('<div/>').
              terminal(interpeter, op);
        if (!options.title) {
            options.title = 'JQuery Terminal Emulator';
        }
        if (options.logoutOnClose) {
            options.close = function(e, ui) {
                term.logout();
                term.clear();
            };
        } else {
            options.close = function(e, ui) {
                term.focus(false);
            };
        }
        var self = this;
        if (window.IntersectionObserver) {
            var visibility_observer = new IntersectionObserver(function() {
                if (self.is(':visible')) {
                    terminal.enable().resize();
                } else {
                    self.disable();
                }
            }, {
                root: document.body
            });
            visibility_observer.observe(terminal[0]);
        }
        this.dialog($.extend({}, options, {
            resizeStop: function() {
                var content = self.find('.ui-dialog-content');
                terminal.resize(content.width(), content.height());
            },
            open: function(event, ui) {
                if (!window.IntersectionObserver) {
                    setTimeout(function() {
                        terminal.enable().resize();
                    }, 100);
                }
                if (typeof options.open == 'function') {
                    options.open(event, ui);
                }
            },
            show: 'fade',
            closeOnEscape: false
        }));
        self.terminal = terminal;
        return self;
    };
})(jQuery);

jQuery(function($, undefined) {
  $('.terminal').terminal({
      echo: function(arg1){
          this.echo(arg1);
      },

      id_on: function(){

        $(".hidden-id").removeClass("hide");
      },

      id_off: function(){

        $(".hidden-id").addClass("hide");
      },

      move:  function(arg1,arg2){
        $.ajax({ url: '/card/move',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
            card_id: arg1,//$(ui.item).attr("card_id"),
            new_list_id: arg2,// $(ui.item).parents('.card-container').attr("list_id"),
            new_position:1,// $(ui.item).index()+1
          },
          success: function(data,status) {
            //alert("数据: \n" + data + "\n状态: " + status);
          }
        });
      },
      calc: {
          add: function(a, b) {
              this.echo(a+b);
          },
          sub: function(a, b) {
              this.echo(a-b);
          }
      }
  }, {
        greetings: 'MyJira Console',
        name: 'js_demo',
        height: 200,
        width: 450,
        prompt: 'MyJira> '});
});
</script>
