<% provide(:title, @board.name) %>

<div id="board-id" data-board-id="<%= @board.id %>"></div>
<div class="side-menu col-md-2">
  <div class = "panel-heading blue">
    <div class="menu-title">Menu</div>
  </div>
  </br>
  <div class="menu-content" style="padding:20px;">
    <p>
      <strong>Name:</strong>
      <%= @board.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @board.description %>
    </p>

    <p>
      <strong>Leader:</strong>
      <%= User.find(@board.leader_id).name %>
    </p>
    <p>
      <strong>Members:</strong><br/>
      <% @board.users.each do |user| %>
        <span>name:</span><%= user.name %><br/><span>email:</span><%= user.email %>
        <br/>
      <% end %>
    </p>
    <%= form_tag("/search/user", method: "get", "data-remote": "true", "id": "search-form") do %>
      <%= label_tag(:user_name, "Search user to enroll in board:") %>
      <%= text_field_tag :user_name, "",class: "form-control"  %>
      <%= number_field_tag(:board_id,@board.id, "style": "display:none;") %>
      <%= submit_tag "Search", "id": "search-submit", "style": "display:none" %>
    <% end %>
    <div id="users-container">
    </div>

    <%= link_to 'New List', new_list_path(board_id:@board.id) %>
    <button id="button-console">Open Console</button>
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', root_path %>
    <br>
    <%= link_to 'Stats', board_stats_path(id:@board.id) %>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <% @board.lists.each do |list| %>
    <div class="list-container " >
      <div class = "panel-heading lightgrey">
        <div class="list-name"><span><%= list.name %></span></div>
      </div>
      <div class="card-container" list_id="<%= list.id%>">
        <% list.cards.order(:card_order).each do |card| %>
        <div class="card" card_id="<%= card.id%>">
          <span class="hidden-id hide">ID: <%=card.id%></span>
          <div class="card-out-tag-container">
          <% card.tags.each do |tag| %>
            <span class="card-tag-color-label tag outside-tag" data-color-id="<%= tag.color%>" data-tag-id="<%= tag.id%>"><%= tag.name %></span>
          <%end%>

          </div>
          <div style="clear:both;"></div>
          <span>Content:</span>
          <%= link_to card.content, card_path(card)%><br/>
          <%if ['doing','done'].include? list.name %>
            <span>Start at:</span><%= card.startdate %><br/>
          <%end%>
          <span>Deadline:</span><%= card.deadline %><br/>
          <!-- Members: -->
          <!-- <%= link_to 'Assign Member',searchresult_path(card_id:card.id) %></br> -->

          <!-- <% card.users.each do |user| %>
            <%= user.name%>
          <% end %><br/> -->
        </div>
        <% end %>
      </div>
      <% if list.name != "doing" && list.name != "done"%>
        <div class="show-new-card" data-list-id="<%= list.id %>">
          <span class="show-new-card-button" data-list-id="<%= list.id %>">create a new card...</span>
          <div class="new-card-submit-form hide">
            <textarea class="new-card-content" placeholder="put your card name here"></textarea>
            <input type="date" class="new-card-deadline">
            <button type="button" class="btn btn-success create-card-button" data-list-id="<%= list.id %>">Create Card</button>
          </div>
        </div>
      <% end %>
      <!-- <%= link_to 'New Card', new_card_path(list_id:list.id), class: "new-card"%> -->
    </div>
  <% end %>
  <!-- card edit modal
  <button id="modal-button" class="hide" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary hide">Submit</button>
              </div>
          </div>
      </div>
  </div>-->

  <button id="modal-button" class="hide" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" id="modal-card-id" data-card-id="27">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="head-icon"></span>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
              </div>
              <div class="modal-body">
                <div class="tags-container">
                  <span class="field">Tags:</span><div class="gap"></div>
                  <span class="tag" style="background-color: #5555dd;">test</span>
                  <span class="tag" style="background-color: #55dd55;">database</span>
                  <span class="tag" style="background-color: #dd5555;">routes</span>
                  <button id="show-tags-modal" type="button" class="btn btn-grey btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add
                  </button>
                </div>
                <div class="card-member-container">
                  <span class="field">Members:</span><div class="gap"></div>
                  <div class="card-member"><span class="member-initials">Y</span></div>
                  <div class="card-member"><span class="member-initials">S</span></div>
                  <div class="card-member"><span class="member-initials">P</span></div>
                  <button id="show-members-modal" type="button" class="btn btn-grey btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add
                  </button>
                </div>
                <div class="description-container">
                  <span class="field">Description</span>
                  <button type="button"  id="edit-description">edit description</button>
                  <div class="description">this is the description</div>
                  <div class="edit-description-window hide">
                    <textarea id="description-input" class="description-input-area" placeholder="put your description here" style="overflow: hidden; word-wrap: break-word; resize: none; height: 108px;"></textarea>
                    <div class="edit-controls">
                      <button type="button" class="btn btn-success" id="save-edit-description">save</button>
                      <button type="button" class="btn btn-default" id="cancel-edit-description">cancel</button>
                    </div>
                  </div>
                </div>
                <div class="comments-container">
                  <span class="field">Comments</span>
                  <div class="comments-list">
                    <div class="comment-container">
                      <div class="headshot"><span class="member-initials">Y</span></div>
                      <span class="username">Jinli Yu</span>
                      <span class="sent-date">posted on 2017-10-10</span>
                      <div class="comment-content">

                        <span class="at-user">@spencer</span>
                        <span class="comment">let's go out for fun!</span>

                      </div>
                    </div>
                  </div>
                  <span class="field">Add Comment</span>
                  <div class="new-comments">
                    <div class="comment-box">
                      <textarea id="comment-input" class="comment-box-input js-new-comment-input" placeholder="add your comment here..." tabindex="1" dir="auto" style="overflow: hidden; word-wrap: break-word; height: 75px;"></textarea>
                      <div class="comment-box-options">
                        <span class="icon-sm icon-mention" id="at-member-button"></span>
                        <span id="at-member-name" data-user-id=""></span>
                      </div>
                    </div>
                    <button type="button" class="btn btn-success" id="submit-new-comment">submit comment</button>
                  </div>
                </div>

              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>

  <div class="my-modal" id="tag-my-modal">  <!--tag modal-->
    <div class="modal-dialog edit-tag-modal" id="tag-modal-dialog" style="display:none;">
      <div class="modal-content" id="tag-modal-content">
        <div class="modal-header">
                  <button type="button" class="close close-tag-modal">&times;</button>
                  <h4 class="modal-title">Edit Tags</h4>
        </div>
            <div class="modal-body">

              <div class="edit-tags-pop-over">
                <div id="tag-list">
                  <% @board.tags.each do |tag| %>
                    <div class="tag-in-list">
                      <span class="edit-tag"></span>
                      <span class="card-tag mod-selectable card-tag-color-label" data-color-id="<%= tag.color%>" data-tag-id="<%= tag.id %>"><%= tag.name %><span class="icon-sm icon-check card-label-selectable-icon light"></span></span>
                    </div>
                  <%end%>

                </div>
                <div class="new-tag-button">
                  <span>create a new tag</span>
                </div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-tag-modal">Close</button>
                <button type="button" class="btn btn-primary hide">Submit</button>
            </div>
        </div>
<!-------------------------------------------------------------------------------------->
        <div class="modal-content hide" id="create-tag-modal-content">
          <div class="modal-header">
            <span type="button" id="back-to-taglist"></span>
            <button type="button" class="hide close-tag-modal" id="close-create-tag-button"></button>
                    <button type="button" class="close close-create-tag">&times;</button>
                    <h4 class="modal-title">Create Tag</h4>
          </div>
              <div class="modal-body">
                <div class="create-tag-form-wrap">
                  <form class="edit-tag-form">
                    <label for="tagName">tag name</label>
                    <input id="tagName" name="name" type="text" class="input-text">
                    <label for="tagColor">tag color</label>
                    <div class="card-tag-color-label-wrap">
                      <span class="card-tag-color-label card-tag-green card-tag-color-label-choose" data-color="green" data-color-id="1"></span>
                      <span class="card-tag-color-label card-tag-yellow card-tag-color-label-choose" data-color="yellow" data-color-id="2"></span>
                      <span class="card-tag-color-label card-tag-orange card-tag-color-label-choose" data-color="orange" data-color-id="3"></span>
                      <span class="card-tag-color-label card-tag-red card-tag-color-label-choose" data-color="red" data-color-id="4"></span>
                      <span class="card-tag-color-label card-tag-purple card-tag-color-label-choose" data-color="purple" data-color-id="5"></span>
                      <span class="card-tag-color-label card-tag-blue card-tag-color-label-choose" data-color="blue" data-color-id="6"></span>
                      <span class="card-tag-color-label card-tag-sky card-tag-color-label-choose" data-color="sky" data-color-id="7"></span>
                      <span class="card-tag-color-label card-tag-lime card-tag-color-label-choose" data-color="lime" data-color-id="8"></span>
                      <span class="card-tag-color-label card-tag-pink card-tag-color-label-choose" data-color="pink" data-color-id="9"></span>
                      <span class="card-tag-color-label card-tag-black card-tag-color-label-choose" data-color="black" data-color-id="10"></span>
                      <div style="clear:both;"></div>
                    </div>

                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="create-tag-button">Create tag</button>
                <button type="button" class="btn btn-default close-tag-modal">Close</button>

              </div>
          </div>

    </div>
  </div>

  <div class="my-modal" id="member-my-modal">  <!--member modal-->
    <div class="modal-dialog edit-tag-modal" id="member-modal-dialog" style="display:none;">
      <div class="modal-content" id="member-modal-content">
        <div class="modal-header">
                  <button type="button" class="close close-member-modal">&times;</button>
                  <h4 class="modal-title">Edit Members</h4>
        </div>
            <div class="modal-body">

              <div class="edit-members">
                <% @board.users.each do |member| %>
                <div class="member-in-list" data-user-id="<%= member.id%>">
                  <div class="card-member">
                    <span class="member-initials"><%= member.name[0].upcase%></span>
                  </div>
                  <span class="member-name"><%= member.name%></span>
                  <div style="clear:both;"></div>
                </div>
                <%end%>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-tag-modal">Close</button>
            </div>
        </div>

    </div>
  </div>

  <div class="my-modal" id="comment-at-member-my-modal">  <!--comment modal-->
    <div class="modal-dialog edit-tag-modal" id="comment-at-member-modal-dialog" style="display:none;">
      <div class="modal-content" id="comment-at-member-modal-content">
        <div class="modal-header">
                  <button type="button" class="close close-comment-at-member-modal">&times;</button>
                  <h4 class="modal-title">@ Members</h4>
        </div>
            <div class="modal-body">

              <div class="edit-members">
                <% @board.users.each do |member| %>
                <div class="at-member-in-list" data-user-id="<%= member.id%>" data-user-name="<%= member.name%>">
                  <div class="card-member">
                    <span class="member-initials"><%= member.name[0].upcase%></span>
                  </div>
                  <span class="member-name"><%= member.name%></span>
                  <div style="clear:both;"></div>
                </div>
                <%end%>

              </div>
            </div>
        </div>

    </div>
  </div>

<div id="tmp-html-store" class="hide"></div>

<div id="tmp-card-container" class="hide"></div>




</div>
<div class="terminal" style = "position:fixed; bottom: 0px;right: 0px;">

</div>

<script>
$(document).ready(function(){
    $(".terminal").hide();
    $("#button-console").click(function(){
        $(".terminal").toggle();
    });
});


jQuery(function($, undefined) {
  $('.terminal').terminal({
      echo: function(arg1){
          this.echo(arg1);
      },

      id_on: function(){

        $(".hidden-id").removeClass("hide");
      },

      id_off: function(){

        $(".hidden-id").addClass("hide");
      },

      move:  function(arg1,arg2){
        $.ajax({ url: '/card/move',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
            card_id: arg1,
            new_list_id: arg2,// $(ui.item).parents('.card-container').attr("list_id"),
            new_position:1,// $(ui.item).index()+1
          },
          success: function(data,status) {
            //alert("数据: \n" + data + "\n状态: " + status);
          }
        });
      },

      help: function(){
        this.echo("id_on : show all cards' id.");
        this.echo("id_off : hide all cards' id.");
        this.echo("move [card_id] [list_name] : move cards to a specified list ");

      },
      calc: {
          add: function(a, b) {
              this.echo(a+b);
          },
          sub: function(a, b) {
              this.echo(a-b);
          }
      }
  }, {
        greetings: 'This is MyJira Console. Type "help" to get more commands. ',
        name: 'js_demo',
        height: 200,
        width: 450,

        prompt: 'MyJira> '});
});
</script>
