<% provide(:title, @board.name) %>
<div id="board-id" data-board-id="<%= @board.id %>"></div>
<div class="side-menu col-md-2">
  <div class="menu-title">Menu</div>
  <div class="menu-content">
    <p>
      <strong>Name:</strong>
      <%= @board.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @board.description %>
    </p>

    <p>
      <strong>Leader:</strong>
      <%= User.find(@board.leader_id).name %>
    </p>
    <p>
      <strong>Members:</strong><br/>
      <% @board.users.each do |user| %>
        <span>name:</span><%= user.name %><br/><span>email:</span><%= user.email %>
        <br/>
      <% end %>
    </p>
    <%= form_tag("/search/user", method: "get", "data-remote": "true", "id": "search-form") do %>
      <%= label_tag(:user_name, "Search user to enroll in board:") %>
      <%= text_field_tag :user_name, "",class: "form-control"  %>
      <%= number_field_tag(:board_id,@board.id, "style": "display:none;") %>
      <%= submit_tag "Search", "id": "search-submit", "style": "display:none" %>
    <% end %>
    <div id="users-container">
    </div>

    <%= link_to 'New List', new_list_path(board_id:@board.id) %>
    <br>
    <%= link_to 'Edit', edit_board_path(@board) %> |
    <%= link_to 'Back', root_path %>
    <br>
    <%= link_to 'Stats', board_stats_path(id:@board.id) %>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  <% @board.lists.each do |list| %>
    <div class="list-container">
      <div class="list-name"><span><%= list.name %></span></div>
      <div class="card-container" list_id="<%= list.id%>">
        <% list.cards.order(:card_order).each do |card| %>
        <div class="card" card_id="<%= card.id%>">
          <span>Content:</span>
          <%= link_to card.content, card_path(card)%><br/>
          <span>Deadline:</span><%= card.deadline %><br/>
          <!--
            <%= link_to 'Add Prerequisite',prerequisites_index_path(card_id:card.id)%>
            <%= link_to 'Add Comment',new_comment_path(card_id:card.id)%>
          -->
        </div>
        <% end %>
      </div>
      <%= link_to 'New Card', new_card_path(list_id:list.id), class: "new-card"%>
    </div>
  <% end %>

  <!-- card edit modal -->
  <button id="modal-button" class="hide" data-toggle="modal" data-target="#myModal"></button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
              </div>
              <div class="modal-body">


              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary hide">Submit</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>

<div id="tmp-card-container" class="hide"></div>
</div>
