<% provide(:title, @board.name+" statistics") %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <% if logged_in? && @board.users.include?(current_user)%>
      <h2>Staitstics for <%= @board.name %></h2>
      <p>
        <strong>Project progress by day:</strong>
        <br>
        Card created:
        <%= line_chart @cards.group_by_day("cards.created_at").count %>
        Card finished:
        <%= line_chart @cards.group_by_day("cards.finished_at").count %>
      </p>
      <p>
        <strong>Project distribution by member:</strong>
        <br>
        Total:
        <%= pie_chart @user_cards.group("users.name").count %>
        Card finished:
        <%= pie_chart @user_cards.where("cards.finished_at is not null").group("users.name").count %>
      </p>
      <p>
        <strong>Task timeline stats for individual members:</strong>
        <% @users.each do |u| %>
          <p>
          <%= u.name %>:
          total cards: <%= @ind_user_cards[u.id].count %>
          finished cards: <%= @ind_user_cards[u.id].where("cards.finished_at is not null").count %>
          cards finished on time: <%= @ind_user_cards[u.id]
            .where("cards.finished_at is not null and cards.finished_at <= cards.deadline").count %>
          </p>
      </p>
      <% end %>


      <% else %>
        <h3 class="center"> Please log in first!</h3>
      <% end %>
  </div>
</div>
