<% provide(:title, @board.name+" statistics") %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <% if logged_in? && @board.users.include?(current_user)%>
    <div class="main-grid">
      <div class="agile-grids">
        <div class="chart-heading">
          <h2><%= @board.name %> Board Statistics</h2>
        </div>
        <div class="row">
          <div class="col-md-3 no-padding">
            <div class="analysis-block">
              <div class-"stats-title">
                <h4>Average members per card</h4>
              </div>
              <div class="stats-value">
                <%= @user_cards.count/@cards.count.to_f %>
              </div>
            </div>
          </div>
          <div class="col-md-3 no-padding">
            <div class="analysis-block">
              <div class-"stats-title">
                <h4>Average cards per member</h4>
              </div>
              <div class="stats-value">
                <%= @user_cards.count/@board.users.count.to_f %>
              </div>
            </div>
          </div>
          <div class="col-md-3 no-padding">
            <div class="analysis-block">
              <div class-"stats-title">
                <h4>Cards by lists</h4>
              </div>
              <div>
                <%= pie_chart @cards.group("lists.name").count, id: 'list_chart' %>
              </div>
            </div>
          </div>
          <div class="col-md-3 no-padding">
            <div class="analysis-block">
              <div class-"stats-title">
                <h4>Average timeline status</h4>
              </div>
              <div class="stats-days">
                <% diff = 0 %>
                <% @cards.where("cards.finished_at is not null").each do |c| %>
                  <% diff += (c.deadline - c.finished_at) %>
                <% end %>
                <% diff /= @board.users.count %>
                <% if diff.abs < 60 %> On Time
                <% else %>

                  <%= (diff.abs/86400).to_i %> Days <br/>
                  <%= ((diff.abs%86400)/3600).to_i %> Hours </br>
                  <%= ((diff.abs%3600)/60).to_i %> Minutes </br>
                  <% if diff < 0 %> Late
                  <% else %> Ahead
                  <% end %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 agile-grid-left">
            <div class="main">
              <h3>Progress Chart</h3>
              <%= line_chart @cards.group_by_day("cards.created_at").count, id: 'progress_chart' %>
            </div>
          </div>
          <div class="col-md-6 agile-grid-right">
            <div class="main">
              <h3>Finished Progress Chart</h3>
              <%= line_chart @cards.where("cards.finished_at is not null").group_by_day("cards.created_at").count, id:"finish_chart" %>
            </div>
          </div>
        </div>

          <h3>User Stats</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Progress By Users</a></li>
            <% @users.each do |u| %>
              <li><a data-toggle="tab" href="#<%= u.name %>"><%= u.name %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <h4>Users</h4>
              <div class="col-md-6">
                <%= pie_chart @user_cards.group("users.name").count, id: "user_chart" %>
              </div>
              <div class="col-md-6">
                <%= pie_chart @user_cards.where("cards.finished_at is not null").group("users.name").count, id:"user_finish_chart" %>
              </div>
            </div>
            <% @users.each do |u| %>
              <div id="<%= u.name %>" class="tab-pane fade">
              <h4><%= u.name %>:</h4>
              <p>
                <%= pie_chart @user_cards.where("users.name = ?", u.name).group("lists.name").count, id: u.name+"_chart" %>
              total cards: <%= @ind_user_cards[u.id].count %>
              finished cards: <%= @ind_user_cards[u.id].where("cards.finished_at is not null").count %>
              cards finished on time: <%= @ind_user_cards[u.id]
                .where("cards.finished_at is not null and cards.finished_at <= cards.deadline").count %>
              </p>
              </div>
            <% end %>


          </div>

          <div>
            <h3>Github Stats</h3>
          <%= form_tag("/git/board", method: "get", "data-remote": "true", "id": "search-form") do %>
            <%= label_tag(:repo, "Configure your project's github repo name") %>
            <%= text_field_tag :repo, "",class: "form-control", placeholder: @board.repo %>
            <%= number_field_tag(:board_id,@board.id, "style": "display:none;") %>
            <%= submit_tag "Submit", "id": "search-submit", "style": "display:none" %>
          <% end %>
        </div>
          <div id="git-stats-container">
            <% if @board.repo != nil && @valid %>
            <div class="col-md-4">
              <h4> Total Commits </h4>
              <%= pie_chart(@commit, library: {plotOptions: {pie: {dataLabels: {enabled: false},showInLegend: true}}}) %>
            </div>
            <div class="col-md-4">
              <h4> Total Line Adds </h4>
              <%= pie_chart(@add, library: {plotOptions: {pie: {dataLabels: {enabled: false},showInLegend: true}}}) %>

            </div>
            <div class="col-md-4">
              <h4> Total Line Deletes </h4>
              <%= pie_chart(@delete, library: {plotOptions: {pie: {dataLabels: {enabled: false},showInLegend: true}}}) %>

            </div>
            <% else %>
              <font color='red'>Please enter a valid github repository in the format of (owner)/(repository).</font>
            <% end %>
          </div>

      </div>
    </div>



      <% else %>
        <h3 class="center"> Please log in first!</h3>
      <% end %>
  </div>
</div>
