<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= form.label :list_id %>
    <%= form.number_field :list_id, id: :card_list_id, value: @list.id %>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :card_content %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, id: :card_deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
