<% provide(:title, 'Cards') %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <% if logged_in? %>
      <h2>Cards</h2>

      <table class="table">
        <thead>
          <tr>
            <th>List</th>
            <th>Content</th>
            <th>Deadline</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <%= will_paginate %>
        <tbody>
          <% @cards.each do |card| %>
            <tr>
              <td><%= card.list_id %></td>
              <td><%= card.content %></td>
              <td><%= card.deadline %></td>
              <!-- <td><%= link_to 'Show', card %></td>
              <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
        <%= will_paginate %>
      </table>

      <br>
      <p><%= link_to("Generate Report", cards_path(format: :csv), class: "btn btn-success",) %></p>
      <% else %>
        <h3 class="center"> Please log in first!</h3>
      <% end %>
  </div>
</div>
