<% provide(:title, 'Cards') %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">


  <p>
    <strong>List:</strong>
    <%= @card.list_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @card.content %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @card.deadline %>
  </p>

  <%= link_to 'Edit', edit_card_path(@card) %> |
  <%= link_to 'Back', board_path(@card.list.board) %>

  <p>
    Comments:
    <% @card.comments.each do |c| %>
      <p>
        <%= c.context %>
      </p>

      <p>
        From
        <%= c.from_user.name %>
      </p>

      <p>
        To
        <%= c.to_user.name %>
      </p>
    <%end%>
  </p>
</div>
</div>
