<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | MyJira - Your project management tool</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "boards" %>
    <style>

    </style>
  </head>

  <body>
    <%= render "layouts/nav"%>
    <%= yield %>
    <!--<%= debug(params) if Rails.env.development? %>-->
    <div id="user" data-user-id="<%= current_user.id %>"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#user_name').on('input',function(){
        $('#search-submit').click();
      });

      $('.card-container').sortable({
      placeholder: "ui-state-highlight",
      connectWith: ".card-container",
      dropOnEmpty: true,
      start: function(event,ui) {
        $(ui.item).addClass('rotate');
      },
      beforeStop: function(event,ui) {
        //$(ui.helper).removeClass('rotate');

      },
      stop: function(event,ui) {
        $(ui.item).removeClass('rotate');
        $.ajax({ url: '/card/move',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
            card_id: $(ui.item).attr("card_id"),
            new_list_id: $(ui.item).parents('.card-container').attr("list_id"),
            new_position: $(ui.item).index()+1
          },
          success: function(data,status) {
            //alert("数据: \n" + data + "\n状态: " + status);
          }
        });
        //var children = $(ui.item).parents('.card-container').children();
        //alert($(ui.item).index());
      }
    }).disableSelection();

    $('.card').click(function(){
      $.ajax({ url: '/card/show_modal.json',
        type: 'GET',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          card_id: $(this).attr("card_id")
        },
        success: function(data,status) {

          //alert("data: \n" + data.id + "\nstatus: " + status);
          $('#myModalLabel').html(data.content);
          var html = "";
          //var html2 = "";
          html = html.concat('<span class="field">Tags:</span><div class="gap"></div>');
          $('.card-tag').removeClass('selected');
          for(var index in data.tags){
            var tag = data.tags[index];
            html = html.concat('<span class="tag card-tag-color-label" data-color-id="'+tag.color+'">'+tag.name+'</span>');
            //html2 = html2.concat('<div class="tag-in-list"><span class="edit-tag"></span><span class="card-tag mod-selectable card-tag-color-label active js-select-label" data-color-id="'+tag.color+'">'+tag.name+'<span class="icon-sm icon-check card-label-selectable-icon light"></span></span></div>');
            $('.card-tag[data-tag-id='+tag.id+']').addClass('selected');
          }
          //$('#tag-list').html(html2);
          html = html.concat('<button id="show-tags-modal" type="button" class="btn btn-grey btn-sm"><span class="glyphicon glyphicon-plus"></span> Add</button>');
          $('.tags-container').html(html);
          html = "";
          html = html.concat('<span class="field">Members:</span><div class="gap"></div>');
          $('.member-in-list').removeClass('member-selected');
          for(var index in data.members){
            var member = data.members[index];
            html = html.concat('<div class="card-member"><span class="member-initials" data-user-id="'+member.id+'">'+member.name[0].toUpperCase()+'</span></div>');
            $('.member-in-list[data-user-id='+member.id+']').addClass('member-selected');
          }
          html = html.concat('<button id="show-members-modal" type="button" class="btn btn-grey btn-sm"><span class="glyphicon glyphicon-plus"></span> Add</button>');
          $('.card-member-container').html(html);
          html = "";
          $('.description').html(data.description);
          for(var index in data.comments){
            var comment = data.comments[index];
            html = html.concat('<div class="comment-container">');
            html = html.concat('<div class="headshot"><span class="member-initials">'+comment.from_user_name[0].toUpperCase()+'</span></div>');
            html = html.concat('<span class="username">'+comment.from_user_name+'</span>');
            html = html.concat('<span class="sent-date">posted on '+comment.created_at+'</span><br/>');
            html = html.concat('<div class="comment-content">');
            if(comment.to_user_id != null){
              html = html.concat('<span class="at-user">@'+comment.to_user_name+'</span>');
            }
            html = html.concat('<span class="comment">'+comment.context+'</span>');
            html = html.concat('</div></div>');
          }
          $('.comments-list').html(html);
          $('#show-tags-modal').click(function(){
            $('#tag-modal-dialog').css({
                 'margin-top': function () {
                     return $('#show-tags-modal').offset().top+35;
                 },
                 'margin-left': function () {
                     return $('#show-tags-modal').offset().left;
                 }
             });
             $('#tag-my-modal').css({
               'display': 'block'
             });
            $('#tag-modal-dialog').fadeIn();
          });
          $('#show-members-modal').click(function(){
            $('#member-modal-dialog').css({
                 'margin-top': function () {
                     return $('#show-members-modal').offset().top+35;
                 },
                 'margin-left': function () {
                     return $('#show-members-modal').offset().left;
                 }
             });
             $('#member-my-modal').css({
               'display': 'block'
             })
            $('#member-modal-dialog').fadeIn();
          });
          $('.card-tag').click(function(){
            if($(this).hasClass('selected')){
              $.ajax({ url: '/tag/unbind.json',
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: {
                  card_id: $('#modal-card-id').data("card-id"),
                  tag_id: $(this).data('tag-id')
                },
                success: function(data,status) {
                  $('.card-tag[data-tag-id='+data.tag_id+']').removeClass('selected');
                }
              });
            }
            else{
              $.ajax({ url: '/tag/bind.json',
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: {
                  card_id: $('#modal-card-id').data("card-id"),
                  tag_id: $(this).data('tag-id')
                },
                success: function(data,status) {
                  $('.card-tag[data-tag-id='+data.tag_id+']').addClass('selected');
                }
              });
            }
          });
          $('#save-edit-description').click(function(){
            $.ajax({ url: '/card/edit_description.json',
              type: 'POST',
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: {
                card_id: $('#modal-card-id').data('card-id'),
                description: $("#description-input").val()
              },
              success: function(data,status) {

              }
            });
          });
          colorTags();
          //$('#card-modal-body').html('<span>Deadline:</span>'+data.deadline+'<br/><a class="btn btn-default" href="/prerequisites_index?card_id='+data.id+'">Add Prerequisite</a><a class="btn btn-default" href="/comments/new?card_id='+data.id+'">Add Comment</a>');
          $('#modal-button').click();
        }
      });

    });

    $('#edit-description').click(function(){
      $('.edit-description-window').removeClass('hide');
      $('#edit-description').addClass('hide');
      $('.description').addClass('hide');
    });



    $('#cancel-edit-description').click(function(){
      $('.edit-description-window').addClass('hide');
      $('#edit-description').removeClass('hide');
      $('.description').removeClass('hide');
    });



    $('.close-tag-modal').click(function(){
      $('.my-modal').css({
        'display': 'none'
      })
     $('#tag-modal-dialog').fadeOut();
    });

    $('.new-tag-button').click(function(){
      $('#tag-modal-content').addClass('hide');
      $('#create-tag-modal-content').removeClass('hide');
    });
    $('.close-create-tag').click(function(){
      $('#create-tag-modal-content').addClass('hide');
      $('#tag-modal-content').removeClass('hide');
      $('#close-create-tag-button').click();
    });
    $('#back-to-taglist').click(function(){
      $('#create-tag-modal-content').addClass('hide');
      $('#tag-modal-content').removeClass('hide');
    });
    $('.card-tag-color-label-choose').click(function(){
      if(!$(this).hasClass('color-selected')){
        $(this).siblings(".color-selected").removeClass('color-selected');
        $(this).addClass('color-selected');
      }
    });

    $('#create-tag-button').click(function(){
      $.ajax({ url: '/tags',
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          name: $('#tagName').val(),
          color: $('.color-selected').data('color-id'),
          board_id: $('#board-id').data('board-id'),
          card_id: $('#modal-card-id').data('card-id')
        },
        success: function(data,status) {

          //alert("data: \n" + data.id + "\nstatus: " + status);

        }
      });
    });


    $("#submit-new-comment").click(function(){
      if($('#comment-input').val()==""){
        alert("write some comment before submit!");
        return;
      }
      var to_user_id = $('#at-member-name').data('user-id');
      $.ajax({ url: '/comments.json',
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {
          comment: {
            context: $('#comment-input').val(),
            from_user_id: $("#user").data("user-id"),
            card_id: $('#modal-card-id').data('card-id'),
            to_user_id: to_user_id
          }
        },
        success: function(data,status) {
          //alert("data: \n" + data.id + "\nstatus: " + status);
        }
      });
    });


    $('.close-member-modal').click(function(){
      $('.my-modal').css({
        'display': 'none'
      })
     $('#member-modal-dialog').fadeOut();
    });
    $('.member-in-list').click(function(){
      if($(this).hasClass('member-selected')){
        $.ajax({ url: '/delmember.json',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
              todeleteuser_id: $(this).data("user-id"),
              card_id: $('#modal-card-id').data('card-id')
          },
          success: function(data,status) {
            //alert("data: \n" + data.id + "\nstatus: " + status);
            $('.member-in-list[data-user-id='+data.member_id+']').removeClass('member-selected');
          }
        });
      }
      else{
        $.ajax({ url: '/addmember.json',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {
              user_id: $(this).data("user-id"),
              card_id: $('#modal-card-id').data('card-id')
          },
          success: function(data,status) {
            //alert("data: \n" + data.id + "\nstatus: " + status);
            $('.member-in-list[data-user-id='+data.member_id+']').addClass('member-selected');
          }
        });
      }
    });
    $('#at-member-button').click(function(){
      $('#comment-at-member-modal-dialog').css({
           'margin-top': function () {
               return $('#at-member-button').offset().top-250;
           },
           'margin-left': function () {
               return $('#at-member-button').offset().left;
           }
       });
       $('#comment-at-member-my-modal').css({
         'display': 'block'
       })
      $('#comment-at-member-modal-dialog').fadeIn();
    });
    $('.close-comment-at-member-modal').click(function(){
      $('.my-modal').css({
        'display': 'none'
      })
     $('#comment-at-member-modal-dialog').fadeOut();
    });
    $('.at-member-in-list').click(function(){
      if($(this).hasClass('member-selected')){
        $('.at-member-in-list').removeClass('member-selected');
        $('#at-member-name').attr('data-user-id','');
        $('#at-member-name').html('');
      }
      else{
        $('.at-member-in-list').removeClass('member-selected');
        $(this).addClass('member-selected');
        $('#at-member-name').attr('data-user-id',$(this).data('user-id'));
        $('#at-member-name').html($(this).data('user-name'));
        $('.close-comment-at-member-modal').click();
      }
    });
    colorTags();
  });

  var colorTags = function(){
    $(".card-tag-color-label[data-color-id=1]").addClass('card-tag-green');
    $(".card-tag-color-label[data-color-id=2]").addClass('card-tag-yellow');
    $(".card-tag-color-label[data-color-id=3]").addClass('card-tag-orange');
    $(".card-tag-color-label[data-color-id=4]").addClass('card-tag-red');
    $(".card-tag-color-label[data-color-id=5]").addClass('card-tag-purple');
    $(".card-tag-color-label[data-color-id=6]").addClass('card-tag-blue');
    $(".card-tag-color-label[data-color-id=7]").addClass('card-tag-sky');
    $(".card-tag-color-label[data-color-id=8]").addClass('card-tag-lime');
    $(".card-tag-color-label[data-color-id=9]").addClass('card-tag-pink');
    $(".card-tag-color-label[data-color-id=10]").addClass('card-tag-black');
  };
    </script>
  </body>
</html>
